<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings >
    <!--缓存文件过期时间-->
    <add key="FileClearDay" value="10"/>
    <!--是否自动清理过期缓存文件-->
    <add key="AutoClear" value="true"/>
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Office.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>